.container{
    display: flex;
    background-color: #d7e1e7;
    border-radius: 1rem;
    gap: 4rem;
    height: 30rem;
    width: 50rem;
    margin: 2rem auto;
    padding: 4rem;
}

.poster{
    border: 8px solid black;
    box-shadow: 0 24px 32px -16px rgba(0, 0, 0, 0.384);
}


.titulo{
    font-size: 1.75rem;
    font-weight: bold;
}

.paragrafo{
    font-size: 1rem;
    line-height: 1.5;
    margin: 35px 0px;
}